.root {
  display: flex;
  appearance: none;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.variantSubmit {
  padding: 10px 40px;
  margin-top: 20px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;

  background: linear-gradient(92.01deg, #8ea7ff 0%, #7291ff 100%);
  border-radius: 10px;
}

.variantSubmit:disabled {
  opacity: 0.5;
}

.variantEmpty {
  display: flex;
  padding: 0;
}
