.root {
  display: flex;
  flex-flow: column;
}

.variantRegular {
  padding: 20px;
  background: #f8f8f8;
  border-radius: 20px;
  margin: 20px 0;
}

.variantSmall {
  padding: 20px;
  background: #ffffff;
  border: 1px solid #f8f8f8;
  box-sizing: border-box;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 20px;
}

.tag {
  margin-top: 10px;
}

.variantSmall .tag {
  display: none;
}

.button {
  display: flex;
  align-self: flex-end;
  margin-bottom: 10px;
}

.main {
  display: flex;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border-radius: 50%;
}

.variantSmall .icon {
  background: #f8f8f8;
}

.variantRegular .icon {
  background: #ffffff;
}

.header {
  margin-bottom: 5px;
}

.link {
  margin-right: 5px;
  color: #8ea7ff;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.text {
  margin-bottom: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media only screen and (min-width: 768px) {
  .variantRegular {
    padding: 40px;
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .tag {
    margin-top: 0;
  }
}
